html {
  margin: auto;
  padding: 0rem;
}

h1 {
  text-align: right;
}

body {
  background-image: url(../images/world-map-background-1448020488w5o.jpeg);
  background-repeat: no-repeat;
  background-position: center;
}

 #wrapper {
  margin: auto;
  padding: 1rem;
  width: 80%;
  height: 100%;
  background-color: #fff;
  box-shadow: 2px 2px 2px #999;
}

.mainNav {
  margin: auto;
  padding-bottom: 1rem;
  max-width: 100%;
  text-align: center;
  list-style: none;
  border-bottom: 1px solid #999;
}

.mainNav li {
  display: inline;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #999;
  box-shadow: -1px -1px -1px #999;
}

.mainNav a {
  margin: 1rem;
  padding: 5px;
  text-decoration: none;
}

main {
  display: flex;
}

section {
  width: 70%;
  padding: .5rem;
  float:left;
}

h2 {
  text-align: left;
}

p {
  padding-bottom: 1rem;
}

footer p {
  text-align: center;
}

.contactLinks li {
  list-style: none; 
  display: inline;
}

@media only screen
  and (min-width:1024px) {
}

@media only screen 
  and (min-width:360px)
  and (max-width:1024px) {
    
  .mainNav li {
    display: inline;
  }
    
  .mainNav a {
    margin: 0.1rem;
  }
}

@media only screen and (max-width: 360px) {
  
  #wrapper {
    width: 100%;
    padding: 0rem;
    box-shadow: none;
  }
  
  h1 {
    text-align: center;
  }
  
  mainNav {
    width: 90%;  
  }
  
  mainNav li {
    display: block;
    margin-bottom: .5rem;
  }
  
  section {
    margin: .5rem;
    width: auto;
  }
}