html {
  margin: auto;
  padding: 0rem;
}

h1 {
  text-align: right;
}

body {
  background-image: url(../images/world-map-background-1448020488w5o.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  
}
 #wrapper {
  margin: auto;
  padding: 1rem;
  width: 80%;
  height: 100%;
  background-color: #fff;
  box-shadow: 2px 2px 2px #999;
}

nav {
  margin: auto;
  padding-bottom: 1rem;
  max-width: 100%;
  text-align: center;
  list-style: none;
  border-bottom: 1px solid #999;
}

nav li {
  display: inline;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #999;
  box-shadow: -1px -1px -1px #999;
}

nav a {
  margin: 1rem;
  padding: 5px;
  text-decoration: none;
}

main {
  display: flex;
}

@media only screen
  and (min-width:1024px) {
}

@media only screen 
  and (min-width:360px)
  and (max-width:1024px) {
    
  nav li {
    display: inline;
  }
    
  nav a {
    margin: 0.1rem;
  }
}

@media only screen and (max-width: 360px) {
  
  #wrapper {
    width: 100%;
    padding: 0rem;
    box-shadow: none;
  }
  
  nav {
    width: 100%;  
  }
  
  nav li {
    display: block;
    margin-bottom: .5rem;
  }
  
}