
@media only screen and (max-width: 360px) {
  
  div.wrapper {
    width: 100%;
  }
  
  header {
    text-align: center;
  }
  
  nav {
    text-align: center;
    width: auto;
    list-style: none;
  }
  
  nav li a {
    text-decoration: none;
  }
  
}